<!DOCTYPE html>
<html>
<head>
    <title>Passport Demo</title>
</head>
<body>
    <% if (!isAuthenticated) { %>
        <a href="/register">Register here</a>
        <p>
        Or
        <p> 
        <a href="/login">Log in here</a>
    <% } else { %>
        Hello, <%= user.name %> !
        <p>
        <a href="/logout">Log out here</a>
    <% } %>
</body>
</html>
